body {
  background-color: #ccc;
}

#banner {
  width: 100%;
}

.principal {
  background-color: #ccc;
  padding: 30px;
}

h1,
p {
  text-align: center;
}

p:nth-child(2) {
  font-size: 20px;
}

em strong {
  color: #f00;
}

.itens {
  font-style: italic;
}

.beneficios {
  background-color: #fff;
}

h2 {
  text-align: center;
}

ul {
  display: inline-block;
  vertical-align: top;
}

.imagem-beneficios {
  width: 50%;
}
